body {
    background-color: rgb(250, 250, 250);
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.header h1 {
    padding-left: 50px;
}

.header div {
    padding-right: 20px;
}

.header a {
    padding-right: 50px;
}

.header input {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 250px;
}

.container {
    width: 95%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    display: flex;
    margin-top: 20px;
    margin-bottom: 250px;
}
.box1 {
    width: 20%;
    background-color: white;
    padding: 20px;
}
.box2 {
    border-left: 3px solid rgb(250, 250, 250);
    background-color: white;
    width: 60%;
    padding: 20px;
}
.box3 {
    width: 20%;
    background-color: white;
    padding: 20px;
}
.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}
.answerBox {
    display: flex;
}
#quest {
    margin-bottom: 10px;
}
#numberQuest {
    margin-bottom: 10px;
    font-size: 20px;
}
#nameQuest {
    margin-bottom: 30px;
}
#doneAQuestButton {
    background-color: rgb(25, 135, 84);
    color: white;
    border: 0px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin-top: 20px;
}

#timeTest {
    margin-bottom: 20px;
}
#timeTestNow {
    margin-bottom: 160px;
}
.div1 {
    display: flex;
    justify-content: space-around;
}
#backQuest {
    border: none;
    background-color: gray;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 5px;

}

#nextQuest {
    border: none;
    background-color: blue;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}
#questsList {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.questsListItem {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
}
.tip {
    font-weight: 550;
}